<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button (click)="onBtn()">Click me</button>
  <div *ngIf="true">
    <ion-item-group *ngFor="let element of main; let i = index;">
      <ion-item-divider color="light">{{element}}</ion-item-divider>
      <button ion-item *ngFor="let item of sub[i]; let j = index;" (click)="onClick(i,j)">
        {{ item }}
      </button>
    </ion-item-group>
  </div>
</ion-content>
